main {
  padding: 36px;
}

.form {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 20px;
}

label {
  font-size: 0.75rem;
}

.form-button {
  grid-column: 1 / 3;
  background: linear-gradient(
    90deg,
    rgba(104, 34, 128, 1) 0%,
    rgba(165, 38, 209, 1) 100%
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.form-input {
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  height: 35px;
  width: 100%;
}

.form-input,
.form-button {
  border-radius: 5px;
}

.meme {
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
  max-height: 400px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  margin: 15px 0;
  padding: 0 5px;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateX(-50%);
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
